body {
  background-color: #e8ffff;
  color: #213e3b;
}

h1 {
  color: #14274e;
}

h3 {
  color: #7579e7;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #010101;
      color: #f0ece2;
    }
  
    h1 {
      color: #7579e7;
    }
  
    h3 {
      color: #69779b;
    }
  
    img {
      filter: brightness(0.9);
    }
  
  }


  img {
    filter: brightness(0.9);
  }

  button {
    width: 20%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
  }